@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Plus Jakarta Sans;
  /* overflow: hidden; */
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
a {
  display: block;
}
ul {
  margin: 0;
  margin-inline: 0 !important;
  padding: 0;
  list-style: none;
}
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
input {
  background-color: transparent;
  width: 100%;
}
input:focus {
  outline: none;
}
.alice-carousel__dots-item {
  cursor: pointer;
}

.swal2-container {
  z-index: 20000 !important;
}

/* swiper part */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* font-size: 18px; */
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
}

.attch-img {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../public/images/education.jpg);
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-atch {
  background-image: url(../../public/images/img_rectangle_42.png);
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.ruby-disp {
  display: ruby;
}

/* .dashboard {
  display: flex;
  position: relative;
}

.dashboard,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
} */